<h2>Create a Running Session</h2>

<form class="uk-form uk-form-stacked" method="post" action="<%= runnings_path %>">
  <div class="uk-form-row">
    <label class="uk-form-label" for="entry_date">Date</label>
    <div class="uk-form-controls">
      <input type="text" name="entry_date" id='datepicker'>
    </div>
  </div>
  <div class="uk-form-row">
    <label class="uk-form-label" for="entry_location">Location</label>
    <div class="uk-form-controls">
      <input type="text" name="entry_location" id="entry_location">
    </div>
  </div>
  <div class="uk-form-row">
    <label class="uk-form-label" for="entry_duration">Duration</label>
    <div class="uk-form-controls">
      <input type="text" name="entry_duration" id="entry_duration">
    </div>
  </div>
  <div class="uk-form-row">
    <label class="uk-form-label" for="course_length">Course length</label>
    <div class="uk-form-controls">
      <input type="text" name="course_length" id="course_length">
    </div>
  </div>
  <div class="uk-form-row">
    <label class="uk-form-label" for="course_type">Course Type</label>
    <div class="uk-form-controls">
      <input type="text" name="course_type" id="course_type">
    </div>
  </div>
  <div class="uk-form-row">
    <label class="uk-form-label" for="number_of_rounds">Number of rounds</label>
    <div class="uk-form-controls">
      <input type="text" name="number_of_rounds" id="number_of_rounds">
    </div>
  </div>
  <div class="uk-form-row">
    <label class="uk-form-label" for="comment">Comment</label>
    <div class="uk-form-controls">
      <textarea name="comment" id="comment"> </textarea>
    </div>
  </div>
  <% #This adds the needed field for the CRSF protection to the form %>
  <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
  <div class="uk-form-row">
    <div class="uk-form-controls">
        <button class="uk-button uk-button-primary uk-margin-top">Create</button>
    </div>
  </div>
</form>