<h1>Users</h1>

<div class="uk-grid">

  <div class="uk-width-medium-1-1">

    <div class="uk-panel uk-panel-box uk-panel-header uk-panel-box-secondary">
    
      <table class="uk-table">
        <tr>
          <th>Username</th>
          <th>Location</th>
          <th>Actions</th>
        </tr>
        <% @users.each do |user| %>
            <tr>
              <td><%= link_to user.username, user_path(user) %> </td>
              <td>TODO</td>
              <td><%= render(partial: 'request_form', locals: { user: user }) if !current_user.befriended_with(user) %> </td>
            </tr>
        <% end %>
      </table>


      <div class="uk-grid">
        <div class="uk-width-medium-1-1">
          <%= will_paginate @users, class: 'uk-text-center' %>
        </div>
      </div>

    </div>
  </div>

</div>
