<h1>Friend requests</h1>

<table>
  <thead>
  <tr>
    <th>Username</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @friend_requests.each do |user| %>
      <tr>
        <td><%= link_to user.username, controller: 'users', action: 'show', id: user.username %></td>
        <td> <%= button_to 'Confirm', controller: 'friends', action: 'create', method: :post, id: user.username %>
        </td>

      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', welcome_index_path %>

