<h1>Friends#requests</h1>
<p>Find me in app/views/friends/requests.html.erb</p>
<% @friend_requests.each do |f| %>
    <p>
      <%= f.username %>
    </p>
<% end %>
<%= link_to 'Back', welcome_index_path %>