<div class="uk-alert uk-alert-danger" data-uk-alert>
  <a href="" class="uk-alert-close uk-close"></a>

  <ul>
    <% session.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <% end %>
  </ul>
</div>
