<div class="social-buttons uk-margin">
  <div class="social-button">
    <a class="twitter-share-button"
       href="https://twitter.com/share">
      Tweet
    </a>
    <script type="text/javascript">
        window.twttr = (function (d, s, id) {
            var t, js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);
            return window.twttr || (t = {
                        _e: [], ready: function (f) {
                            t._e.push(f)
                        }
                    })
        }(document, "script", "twitter-wjs"));
    </script>

  </div>

  <div class="social-button">
    <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count"></div>
  </div>

</div>
