<% if statistics %>
    <div class="uk-panel uk-panel-box uk-panel-box-secondary">
      <h3 class="uk-panel-title">Statistics</h3>

      <table class="uk-table uk-text-nowrap">
        <tbody>
        <% statistics.each do |measure| %>
            <tr>
              <td><strong><%= measure.name %></strong></td>
              <td> <%= measure %> </td>
            </tr>
        <% end %>
        </tbody>
      </table>

    </div>
<% end %>