<!-- Display all users joining the event -->
<div class="uk-panel uk-panel-box">
  <h3 class="uk-panel-title"><i class="uk-icon-users"></i> Users Joining</h3>
  <ul class="uk-list uk-list-line">
    <% session.sport_session_participants.order('confirmed DESC').each do |participant| %>
        <% if participant.confirmed? %>
            <li><%= participant.user.username %></li>
        <% else %>
            <li><span class="uk-text-muted"><%= participant.user.username %> (not confirmed yet)</span></li>
        <% end %>
    <% end %>
  </ul>
</div>
