  <div class="uk-panel uk-panel-box uk-panel-header uk-panel-box-secondary">
    <h3 class="uk-title">Details</h3>
    <table class="uk-table uk-text-nowrap">
      <tbody>
      <tr>
        <td><strong>Date/Time</strong></td>
        <td><%= soccer.date %></td>
      </tr>
      <tr>
        <td><strong>Location</strong></td>
        <td><%= soccer.location %></td>
      </tr>
      <tr>
        <td><strong>Initiator</strong></td>
        <td><%= link_to soccer.user.username, user_path(soccer.user) %></td>
      </tr>
      <tr>
        <td><strong>Duration</strong></td>
        <td><%= soccer.entry_duration %></td>
      </tr>
      </tbody>
    </table>
  </div>