<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, action: 'show', id: user.username %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', welcome_index_path %>

