<% content_for :head do %>
    <script src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
<% end %>

<div class="uk-text-center uk-margin-large-top">
    <h1>Get started with SportsMate</h1>
</div>

<%= render 'form' %>

