<div class="uk-panel uk-panel-box uk-panel-box-secondary uk-margin-small-bottom">
  <div  class="uk-float-left uk-margin-top">
    <img src="/images/timeline_icons/friend.png" width="60" height="60" />
  </div>
  <div class="uk-float-left uk-margin-left">
    <h4>New Friend:</h4>
    <div>
      <%= link_to User.where(id: user.id).first.username, user_path(User.where(id: user.id).first.id) %>
    </div>
  </div>
  <div class="uk-float-right">
    <%= item.created_at %>
  </div>
</div>