<h1>Achievements</h1>

<div class="uk-panel uk-panel-box uk-panel-header uk-panel-box-secondary">
  <h3 class="uk-title">Running</h3>
    <%= render :partial => 'achievements', :locals => {:achievements => @achievements.where(:sport => 'Running').order(:points)} %>
</div>

<div class="uk-panel uk-panel-box uk-panel-header uk-panel-box-secondary uk-margin">
  <h3 class="uk-title">Boxing</h3>
  <%= render :partial => 'achievements', :locals => {:achievements => @achievements.where(:sport => 'Boxing').order(:points)} %>
</div>

<div class="uk-panel uk-panel-box uk-panel-header uk-panel-box-secondary">
  <h3 class="uk-title">Cycling</h3>
  <%= render :partial => 'achievements', :locals => {:achievements => @achievements.where(:sport => 'Cycling').order(:points)} %>
</div>
